body {
  min-height: 2000px;
}
.navbar {
  background-color: #272727;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #4f4f4f;
}
section {
  padding: 6rem 0;
}

.txt-white {
  color: white;
}

.profile-pict {
  width: 200px;
  box-shadow: 0 0 50px #d3d3d3;
}

#creation {
  background-color: #6e6e6e;
}

.footer {
  background-color: #272727;
}
